appdirs==1.4.3
appnope==0.1.0
astroid==2.3.1
backcall==0.1.0
blinker==1.4
bs4==0.0.1
certifi==2019.9.11
chardet==3.0.4
Click==7.0
cssselect==1.1.0
cycler==0.10.0
decorator==4.4.0
fake-useragent==0.1.11
Flask==1.1.1
Flask-GoogleMaps==0.2.6
Flask-Mail==0.9.1
Flask-WTF==0.14.2
gunicorn==19.9.0
idna==2.8
ipython==7.16.3
ipython-genutils==0.2.0
isort==4.3.21
itsdangerous==1.1.0
jedi==0.15.1
Jinja2==2.10.3
kiwisolver==1.1.0
lazy-object-proxy==1.4.2
lxml==4.4.1
MarkupSafe==1.1.1
matplotlib==3.1.1
mccabe==0.6.1
numpy==1.17.2
pandas==0.25.1
parse==1.12.1
parso==0.5.1
pexpect==4.7.0
pickleshare==0.7.5
prompt-toolkit==2.0.10
psycopg2-binary==2.8.4
ptyprocess==0.6.0
pyee==6.0.0
Pygments==2.4.2
pylint==2.4.2
pyparsing==2.4.4
pyppeteer==0.0.25
pyquery==1.4.0
python-dateutil==2.8.0
pytz==2019.3
requests==2.22.0
requests-html==0.10.0
six==1.12.0
soupsieve==1.9.4
tqdm==4.36.1
traitlets==4.3.3
typed-ast==1.4.0
Unidecode==1.1.1
urllib3==1.25.6
virtualenv==16.7.7
w3lib==1.21.0
wcwidth==0.1.7
websockets==8.0.2
Werkzeug==0.16.0
wrapt==1.11.2
WTForms==2.2.1
