
  {% extends "layout.html" %}

  {% block content %}
  
  <div class="container">
    <div class="row">
      <div class="col-md-12">
              <h4>O nás</h4>
              <p> 
                Narození dítěte je zpravidla tou nejradostnější událostí v každé rodině. Občas se však narodí dítě “jiné”, než všichni očekávali. Narodí se dítě s postižením. Rodiče těchto dětí se tím ocitají v náročné a zcela neznámé situaci, na kterou se nemohli předem připravit. Často nemají dostatek zkušeností ani informací a zároveň potřebují podporu, aby náročnou situaci zvládli. </p> 
                <p>V České Republice existují organizace, kteří rodičům dokáží pomoci. Na našem portále zpřehledňujeme tuto nabídku. Chceme rodiče seznámit s možnostmi, které mohou využít při péči o svoje děti a zároveň jim umožnit najít si zařízení přesně podle svých potřeb, tj. podle typu postižení svého dítěte a v blízkosti jejich bydliště. </p>
                <p>Data máme z veřejně dostupných zdrojů, z webu nejskolky.cz a registru poskytovatelů sociálních služeb.</p>
                <p><h5>Náš cíl: Vše v jedné webové aplikaci.</h5></p>
            </div>
          </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
              <h4>Kdo jsme?</h4>
              <div class="card-deck">
                <div class="card" style="max-width: 18rem;">
                  <img src="/static/Magdus.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Magduš</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  </div>
                </div>
                <div class="card" style="max-width: 18rem;">
                  <img src="/static/Jana.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Jana</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                  </div>
                </div>
      </div>
    </div>
  </div>

{% endblock %}