
  {% extends "layout.html" %}

  {% block content %}
  
  <div class="container">
    <div class="row">
      <div class="col-md-12">
              <h1>O nás</h1>
              <p> 
                Narození dítěte je zpravidla tou nejradostnější událostí v každé rodině. Občas se však narodí dítě “jiné”, než všichni očekávali. Narodí se dítě s postižením. Rodiče těchto dětí se tím ocitají v náročné a zcela neznámé situaci, na kterou se nemohli předem připravit. Často nemají dostatek zkušeností ani informací a zároveň potřebují podporu, aby náročnou situaci zvládli. </p> 
                <p>V České Republice existují organizace, kteří rodičům dokáží pomoci. Na našem portále zpřehledňujeme tuto nabídku. Chceme rodiče seznámit s možnostmi, které mohou využít při péči o svoje děti a zároveň jim umožnit najít si zařízení přesně podle svých potřeb, tj. podle typu postižení svého dítěte a v blízkosti jejich bydliště. </p>
                <p>Data máme z veřejně dostupných zdrojů, z webu nejskolky.cz a registru poskytovatelů sociálních služeb.</p>
                <p><h5>Náš cíl: Vše v jedné webové aplikaci.</h5></p>
            </div>
          </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
              <h4>Kdo jsme?</h4>
              <div class="card-deck">
                <div class="card" style="max-width: 18rem;">
                  <img src="/static/Magdus.jpg" class="card-img-top" alt="Magduš">
                  <div class="card-body">
                    <h5 class="card-title">Magduš</h5>
                    <p class="card-text">Som mladá maminka na materskej dovolenske, ktorú zaujíma oblasť IT. Rada sa učím novým veciam, preto aj pre mňa tento projekt bol výzvou.</p>
                  </div>
                </div>
                <div class="card" style="max-width: 18rem;">
                  <img src="/static/Jana.JPG" class="card-img-top" alt="Jana">
                  <div class="card-body">
                    <h5 class="card-title">Jana</h5>
                    <p class="card-text">Jsem maminka dvou dětí, s IT začínám a moc mě to baví, protože je zde pořád co se učit. Budu ráda, když nám napíšete zpětnou vazbu na náš portál.   </p>
                  </div>
                </div>
      </div>
    </div>
  </div>
<br>
<br>
{% endblock %}