
  {% extends "layout.html" %}

  {% block content %}
  
  <div class="container">
    <div class="row">
      <div class="col-md-12">
              <h4>O nás</h4>
              <p> 
                Narození dítěte je zpravidla tou nejradostnější událostí v každé rodině. Občas se však narodí dítě “jiné”, než všichni očekávali. Narodí se dítě s postižením. Rodiče těchto dětí se tím ocitají v náročné a zcela neznámé situaci, na kterou se nemohli předem připravit. Často nemají dostatek zkušeností ani informací a zároveň potřebují podporu, aby náročnou situaci zvládli. </p> 
                <p>V České Republice existují organizace, kteří rodičům dokáží pomoci. Na našem portále zpřehledňujeme tuto nabídku. Chceme rodiče seznámit s možnostmi, které mohou využít při péči o svoje děti a zároveň jim umožnit najít si zařízení přesně podle svých potřeb, tj. podle typu postižení svého dítěte a v blízkosti jejich bydliště. </p>
                <p>Data máme z veřejně dostupných zdrojů, z webu nejskolky.cz a registru poskytovatelů sociálních služeb.</p>
                <p><h5>Náš cíl: Vše v jedné webové aplikaci.</h5></p>
            </div>
          </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
              <h4>Kdo jsme?</h4>
            </div>
          </div>
      </div>
    </div>
  </div>

{% endblock %}