{% extends "layout.html" %}
{% block content %}
<br>
<div class="container">
    <div class="row">
      <h4>Portál pro rodiče dětí se speciálními potřebami</h4>
    </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-8" id="poem">
      <p><i>„...Jiné je tvé dítě.<br>
        Jiné ve svém duševním bohatství, jiné v rozvoji svých schopností, jiné ve vztazích ke světu,<br>
        jiné ve svém jednání i počínání, jiné v běžných reakcích.<br>
        Je jiné, ale není horší.”</i></p>
    </div>
    <div class="col-md-8" id="places-sidebar">
      <div id="content" class="text-sm-center">
        <p><i>Heinrich Behr</i></p>
      </div>
    </div>
  </div>
</div>
<br>

<div class="container">
    <div class="row">
      <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <h5>Vítejte na našem portále.</h5>
              <p> Tato webová stránka vznikla jako studentský projekt v rámci Digitální akademie pořádaného společností Czechitas. Věříme, že Vám ulehčí vyhledávání ideálního zařízení pro Vaše dítě. 
                </p>
            </div>
          </div>
      </div>
    </div>
</div>
<br>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Školky</h5>
            <p class="card-text">Pomůžeme Vám najít ve Vašem okolí nejvhodnější školku pro Vaše dítě.

            </p>
            <a href="/skolky" class="btn btn-outline-primary">Zajímá mě</a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Raná péče</h5>
            <p class="card-text">Raná péče pomáhá v domácím prostředí rodinám, kterým se narodilo dítě s postižením. </p>
            <a href="/ranapece" class="btn btn-outline-primary">Zajímá mě</a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="width: 18rem;">

          
          <div class="card-body">
            <h5 class="card-title">Odlehčovací péče</h5>
            <p class="card-text">Umožňuje rodičům na chvíli si odpočinout a mít čas pro sebe.
            </p>
            <a href="/odlehcovaci_pece" class="btn btn-outline-primary">Zajímá mě</a>
          </div>
        </div>
      </div>
    </div>
  </div>



{% endblock %}