{% extends "layout.html" %}
{% block content %}
  <div class="index">
    <h1> Portál pro rodiče dětí se speciálními potřebami</h1>
    <p>Testuju.</p>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
          <img src="static/skolka.jpg" class="card-img-top" alt="width: 250px;
          height: 70px">
          <div class="card-body">
            <h5 class="card-title">Školky</h5>
            <p class="card-text">Pomůžeme Vám najít ve Vašem okolí nejvhodnější školku pro Vaše dítě.

            </p>
            <a href="/skolky" class="btn btn-primary">To chci!</a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
          <img src="static/ranapece.jpg" class="card-img-top" alt= "...">
          <div class="card-body">
            <h5 class="card-title">Raná péče</h5>
            <p class="card-text">Raná péče pomáhá v domácím prostředí rodinám, kterým se narodilo dítě s postižením. </p>
            <a href="/ranapece" class="btn btn-primary">To chci!</a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="width: 18rem;">

          <img src="static/skolka.jpg" class="card-img-top" alt="width: 250px;
          height: 70px">
          <div class="card-body">
            <h5 class="card-title">Odlehčovací péče</h5>
            <p class="card-text">Umožňuje rodičům na chvíli si odpočinout.
            </p>
            <a href="/odlehcovaci_pece" class="btn btn-primary">To chci!</a>
          </div>
        </div>
      </div>
    </div>
  </div>



{% endblock %}