{% extends "layout.html" %}
{% block content %}
  <div class="index">
    <h1>Nevím ještě</h1>
    <p>Testuju.</p>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
          <img src="static/skolka.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Školky</h5>
            <p class="card-text">Pomůžeme Vám najít nejvhodnější školku pro Vaše dítě. </p>
            <a href="/skolky" class="btn btn-primary">To chci!</a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
          <img src="static/ranapece.jpg" class="card-img-top" alt= "...">
          <div class="card-body">
            <h5 class="card-title">Raná péče</h5>
            <p class="card-text">Blabla. </p>
            <a href="/ranapece" class="btn btn-primary">To chci!</a>
          </div>
        </div>
      </div>
    </div>
  </div>



{% endblock %}