<!DOCTYPE html>
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <body>
      <head>
          <title>Portál pro rodiče dětí s postižením</title>
          <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
          <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
        </head>
    <header>
      <div class="container offset-1">
        <h1 class="logo"><a href="{{ url_for('home') }}"><img src="http://skolky01.herokuapp.com/static/logo.png" style="width:80px;height:40px;" alt="logo"/></a></h1>
        <h4> Portál pro rodiče dětí se speciálními potřebami</h4>
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('home') }}">Úvod</a></li>
            <li><a href="{{ url_for('skolky') }}">Školky</a></li>
            <li><a href="{{ url_for('ranapece') }}">Raná péče</a></li>
            <li><a href="{{ url_for('odlehcovaci_pece') }}">Odlehčovací péče</a></li>
            <li><a href="{{ url_for('tabulka_skolky') }}">tabulka_skolky</a></li>
           
          </ul>
        </nav></strong>
      </div>
    </header>
    <div class="container - fluid">
      <div class="row img-fluid">
        <img src="http://skolky01.herokuapp.com/static/child.png" style = "width:50%; height: 50% " class="img-fluid" alt="Responsive image">
      </div>
    </div>
      {% block content %}

      {% endblock %}
      <!-- Footer -->
<footer class="page-footer font-small blue-grey lighten-5">

  
      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">

      
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">

          <!-- Facebook -->
          <a class="fb-ic">
            <i class="fab fa-facebook-f white-text mr-4"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <i class="fab fa-twitter white-text mr-4"> </i>
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
            <i class="fab fa-google-plus-g white-text mr-4"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <i class="fab fa-linkedin-in white-text mr-4"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <i class="fab fa-instagram white-text"> </i>
          </a>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
  </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3 dark-grey-text">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mb-4">

        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">Speciální školky</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>Portál pro rodiče dětí se speciálními potřebami, který dokáže pomoci vybrat ideální zařízení.</p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

        
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">ODKAZY</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a class="dark-grey-text" href="https://www.nejskolky.cz">nejškolky.cz</a>
        </p>
        <p>
          <a class="dark-grey-text" href="http://iregistr.mpsv.cz">Poskytovatelé sociálních služeb</a>
        </p>
        

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">KONTAKT</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
      
        <p>
          <i class="fas fa-envelope mr-3"></i> specialniskolky@gmail.com</p>
        </p>
        

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center text-black-50 py-3">© 2019 Copyright:
    <a class="dark-blue-text" href="https://skolky01.herokuapp.com"> SpecialniSkolky</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
    </div>
  </body>
</html>