<!DOCTYPE html>
<html>
<head> 
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SpeciálníŠkolky</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand uzke" href="{{ url_for('home') }}"><img src="/static/logo.png" class="img-fluid" alt="LOGO" width=80px></a>
        <a class="navbar-brand" href="/"><h4>Speciální školky</h4></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="nav navbar-nav ml-auto ">
              <li class="nav-item">
                <li class="nav-item">
                  <a class="nav-link" href="/index">Úvod</a>
                </li>
                <a class="nav-link" href="/skolky">Školky</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/ranapece">Raná péče</a>
              </li>
            <li class="nav-item">
                <a class="nav-link" href="/odlehcovaci_pece">Odlehčovací péče</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/tabulka_skolky">Tabulka školky</a>
              </li>
              </ul>
        </div>
    </nav>
    <div class="img-fluid. max-width: 100%">
        <img src="/static/background.jpg" style = "width:100%; height:auto " class="img-fluid" alt="Responsive image">
      </div>

      {% block content %}

      {% endblock %}
      <!-- Footer -->
<footer class="page-footer font-small blue-grey lighten-5">

  
      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">

      
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">

          <!-- Facebook -->
          <a class="fb-ic">
            <i class="fab fa-facebook-f white-text mr-4"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <i class="fab fa-twitter white-text mr-4"> </i>
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
            <i class="fab fa-google-plus-g white-text mr-4"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <i class="fab fa-linkedin-in white-text mr-4"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <i class="fab fa-instagram white-text"> </i>
          </a>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
  </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3 dark-grey-text">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mb-4">

        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">Speciální školky</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>Portál pro rodiče dětí se speciálními potřebami, který dokáže pomoci vybrat ideální zařízení.</p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

        
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">ODKAZY</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a class="dark-grey-text" href="https://www.nejskolky.cz">nejškolky.cz</a>
        </p>
        <p>
          <a class="dark-grey-text" href="http://iregistr.mpsv.cz">Poskytovatelé sociálních služeb</a>
        </p>
        

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">KONTAKT</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
      
        <p>
          <i class="fas fa-envelope mr-3"></i> specialniskolky@gmail.com</p>
        </p>
        

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center text-black-50 py-3">© 2019 Copyright:
    <a class="dark-blue-text" href="https://skolky01.herokuapp.com"> SpecialniSkolky</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
    </div>
  </body>
</html>