<!DOCTYPE html>
<html>
<head> 
    <meta charset="UTF-8" />
    <!-- <input type="hidden" name="csrf_token" value=" csrf_token()}}" /> -->

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SpeciálníŠkolky</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">



</head>
<body style="background-color:ivory;">
<div id="page-container">
  <div id="content-wrap">
    <nav class="navbar navbar-expand-lg navbar-light bg-FloralWhite">
        <a class="navbar-brand uzke" href="{{ url_for('home') }}"><img src="/static/logo.png" class="img-fluid" alt="LOGO" width=80px></a>
        <a class="navbar-brand" href="/"><h5>Speciální školky</h5></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="nav navbar-nav ml-auto ">
              <li class="nav-item">
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('home') }}">Úvod</a>
                </li>
                <a class="nav-link" href="/skolky">Školky</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/ranapece">Raná péče</a>
              </li>
            <li class="nav-item">
                <a class="nav-link" href="/odlehcovaci_pece">Odlehčovací péče</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/kontakt">Kontakt</a>
              </li>
              </ul>
        </div>
    </nav>
    <div class="img-fluid. max-width: 100%">
        <img src="/static/header.jpg" style = "width:100%; height:auto " class="img-fluid" alt="Responsive image">
    </div>

      {% block content %}

      {% endblock %}
    <div id= "footer">
      <div class="card-footer text-center bg-white border-white">
        <div class="card-body">
          <p class="card-text">
            <a href="mailto:specialniskolky@gmail.com">specialniskolky@gmail.com</a>
          </p>
          <div class="footer-copyright text-center text-black-50 py-3">© 2019 Copyright:
          <a class="dark-blue-text" href="https://skolky01.herokuapp.com"> SpecialniSkolky</a>
        </div>
        </div>
      </div>
    </div>     

    </div>
  </div> 
  </body>
</html>