{% extends "layout.html" %}
{% block content %}


      <div class="jumbotron" style="background-color:#fffafa">
        <h1 class="black">Odlehčovací péče</h1>
        <h6 class="black">Cílem služby je umožnit pečující fyzické osobě nezbytný odpočinek.</h6>
      </div>
      <form method="GET">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">nazev</th>
                    <th scope="col">Ulice</th>
                    <th scope="col">Mesto</th>
                    <th scope="col">PSC</th>
                    <th scope="col">Pocet luzek</th>
                    <th scope="col">telefon</th>
                    <th scope="col">mail</th>
                    <th scope="col">web</th>
                </tr>
            </thead>
            <tbody>
                {% for x in tab_odlehcovaci %}
                <tr>
                        <td>{{ x.id }}</td>
                        <td>{{ x.nazev }}</td>
                        <td>{{ x.ulice }}</td>
                        <td>{{ x.mesto}}</td>
                        <td>{{ x.psc }}</td>
                        <td>{{ x.pocetluzek}}</td>
                        <td>{{ x.telefon}}</td>
                        <td>{{ x.mail}}</td>
                        <td>{{ x.web}}</td>

                        
                </tr>
                {% endfor %}

            </tbody> 
        </table>
    </form>





</body>



 {% endblock %}