{% extends "layout.html" %} 
{% block content %}
<!--<script type="text/javascript" src="https://api.mapy.cz/loader.js"></script>
<script type="text/javascript">Loader.load()</script> -->
<br>
<br>
<div class="container">
    <div class="jumbotron" style="background-color:#fffafa">
        <h2 class="display-5 text-left text-dark" >{{odlehcovaci_detail.nazev}}</h2>
        <p class="lead">Forma: {{odlehcovaci_detail.forma}}</p>
        <div class="card" style="width: 18rem;">
            
              </div>
          </div>
    </div>
</div>

        {% endblock %}