{% extends "layout.html" %} 
{% block content %}


  <div class="skolky offset-1">
    <form method="POST" action="{{url_for('skolky_post')}}">
  
      <div class='jumbotron'style="background-color:#fffafa">
    <h1>Školky</h1>

    <div class="form-group-6">
      <label for="exampleFormControlSelectCity">Město</label>
      <select class="form-control" id="exampleFormControlSelectCity" name='city'>
        <option value="">Město</option>
        {% for item in city %}
          <option>{{ item.mesto }}</option>
        {% endfor %}  
      </select>
    </div>

    <p>Vyberte typ postižení.</p>
    <div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="telesne" value="telesne" name="telesne" >
        <label class="form-check-label" for="telesne">Tělesné</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="zrakove" value="zrakove" name="zrakove" >
        <label class="form-check-label" for="zrakove">Zrakové</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="sluchove" value="sluchove" name="sluchove" >
        <label class="form-check-label" for="sluchove">Sluchové</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="recove" value="recove" name="recove" >
        <label class="form-check-label" for="recove">Vady řeči</label>
      </div>
    </div>
    <div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="mentalni" value="mentalni" name="mentalni">
            <label class="form-check-label" for="mentalni">Mentální</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="kombinovane" value="kombinovane" name="kombinovane">
            <label class="form-check-label" for="kombinovane">Kombinované</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="autistickeho" value="autistickeho" name="autistickeho">
            <label class="form-check-label" for="autistickeho">Porucha autistického spektra</label>
          </div>
          <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="poruchauceni" value="poruchauceni" name="poruchauceni">
              <label class="form-check-label" for="poruchauceni">Porucha učení</label>
            </div>
    </div>
  </br>
    <div>
    <button class="btn btn-outline-secondary" type="submit" value="search">Filtrovat</button>
  </form>
    </div>
  </div>

    
{% endblock %}
