{% extends "layout.html" %} 
{% block content %}
<!--<script type="text/javascript" src="https://api.mapy.cz/loader.js"></script>
<script type="text/javascript">Loader.load()</script> -->
<br>
<br>
<div class="container">
    <div class="jumbotron" style="background-color:#fffafa">
        <h2 class="display-5 text-left text-dark" >{{skolky_detail.nazev}}</h2>
        <p class="lead">Typ školky: {{skolky_detail.typ}}</p>
        <div class="card" style="width: 18rem;">
            <div class="card-body bg-light">
              <h5 class="card-title">Adresa školky:</h5>
              <p class="card-text">{{skolky_detail.mesto}}</p>
              <p class="card-text">{{skolky_detail.ulice}}</p>
            </div>
            <div class="card-body bg-light">
                <h5 class="card-title">Kontaktní údaje:</h5>
                <p class="card-text">e-mail: {{skolky_detail.mail}}</p>
                <p class="card-text">telefon: {{skolky_detail.kontakt}}</p>
                <a href="{{skolky_detail.web}}" class="card-link">{{skolky_detail.web}}</a>
              </div>
          </div>
    </div>
</div>

        {% endblock %}
          
        
    