{% extends "layout.html" %} 
{% block content %}
<br>
<br>
<div class="container">
    <div class="jumbotron bg-light">
        <h1 class="display-4">{{skolky_detail.nazev}}</h1>
        <p class="lead">Typ školky: {{skolky_detail.typ}}</p>
        <div class="card" style="width: 18rem;">
            <div class="card-body bg-light">
              <h5 class="card-title">Adresa školky:</h5>
              <p class="card-text">{{skolky_detail.mesto}}</p>
              <p class="card-text">{{skolky_detail.ulice}}</p>
            </div>
            <div class="card-body bg-light">
                <h5 class="card-title">Kontaktní údaje:</h5>
                <p class="card-text">e-mail: {{skolky_detail.mail}}</p>
                <p class="card-text">telefon: {{skolky_detail.kontakt}}</p>
                <a href="{{skolky_detail.web}}" class="card-link">{{skolky_detail.web}}</a>
              </div>
          </div>
    </div>
</div>

        {% endblock %}
          
        
    