{% extends "layout.html" %} 
{% block content %}
<br>
<br>
<div class="container">
    <div class="jumbotron">
        <header>
          <h1>{{skolky_detail.nazev}}</h1>
        </header>
        <p>Typ školky:{{skolky_detail.typ}}</p>
      </br>
        <p><strong>Adresa školky</strong></p>
        <p>{{skolky_detail.mesto}}</p>
        <p>{{skolky_detail.ulice}}</p>
        
      </br>
      <p><strong>Kontaktne údaje:</strong></p>
    
        <p>e-mail: {{skolky_detail.mail}}</p>
        <p><a href="{{skolky_detail.web}}">{{skolky_detail.web}}</a></p>
        <p>telefón: {{skolky_detail.kontakt}}</p>

        {% endblock %}
          
