{% extends "layout.html" %} 
{% block content %}


  <div class="skolky offset-1">
    <form method="POST" action="{{url_for('skolky_post')}}">

      <div class='jumbotron'style="background-color:#fff">
          <script type="text/javascript" src="https://api.mapy.cz/loader.js"></script>
          <script type="text/javascript">Loader.load()</script>
    <h1>Školky</h1>

    <div class="form-group-6">
      <label for="exampleFormControlSelectCity">Město</label>
      <select class="form-control" id="exampleFormControlSelectCity" name='city'>
        <option value="">Město</option>
        {% for item in city %}
          <option>{{ item.city_part }}</option>
        {% endfor %}  
      </select>
    </div>

    <p>Vyberte typ postižení.</p>
    <div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="telesne" value="option1" name="telesne">
        <label class="form-check-label" for="telesne">Tělesné</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="zrakove" value="option2" name="zrakove">
        <label class="form-check-label" for="zrakove">Zrakové</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="sluchove" value="option3" name="sluchove">
        <label class="form-check-label" for="sluchove">Sluchové</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="recove" value="option4" name="recove">
        <label class="form-check-label" for="recove">Vady řeči</label>
      </div>
    </div>
    <div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="mentalni" value="option5" name="mentalni">
            <label class="form-check-label" for="mentalni">Mentální</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="kombinovane" value="option6" name="kombinovane">
            <label class="form-check-label" for="kombinovane">Kombinované</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="autistickeho" value="option7" name="autistickeho">
            <label class="form-check-label" for="autistickeho">Porucha autistického spektra</label>
          </div>
          <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="poruchauceni" value="option8" name="poruchauceni">
              <label class="form-check-label" for="poruchauceni">Porucha učení</label>
            </div>
    </div>
    <div>
    <button class="btn btn-outline-secondary" type="submit" value="search">Filtrovat</button>
  </form>
    </div>
  </div>
  <div id="mapa" style="width:100%; height:400px;"></div>
   <script type="text/javascript">
     var stred = SMap.Coords.fromWGS84(14.41, 50.08);
     var mapa = new SMap(JAK.gel("mapa"), stred, 12);
     mapa.addDefaultLayer(SMap.DEF_BASE).enable();
     mapa.addDefaultControls();
     var layer = new SMap.Layer.Marker();
     mapa.addLayer(layer);
     layer.enable();
     var options = {};
     //vytvoří marker na souřadnicich v te promene var center a vloží ho do mapy
     {% for item in search %}
     layer.addMarker(new SMap.Marker(SMap.Coords.fromWGS84({{item.longitude}}, {{item.latitude}}), "myMarker", options));	      	      
     {% endfor %}
   </script>
    
{% endblock %}
