{% extends "layout.html" %} {% block content %}
<script type="text/javascript" src="https://api.mapy.cz/loader.js"></script>
<script type="text/javascript">Loader.load()</script>
<div class="jumbotron"></div>

  <header>
    <h1>Speciální školky, které máme v databázi.</h1>
  </header>
</br>
</br>
  <body>
      <div id="mapa" style="width:100%; height:400px;"></div>
      <script type="text/javascript">
        var coords = [
        {% for item in expectation_table %}
        SMap.Coords.fromWGS84({{item.lng}}, {{item.lat}}){% if not loop.last %},{% endif %}
        {% endfor %}];
        var mapa = new SMap(JAK.gel("mapa"));
        stred_zoom = mapa.computeCenterZoom(coords);
        mapa.setCenterZoom(stred_zoom[0], stred_zoom[1])
        mapa.addDefaultLayer(SMap.DEF_BASE).enable();
        mapa.addDefaultControls();
        var layer = new SMap.Layer.Marker();
        mapa.addLayer(layer);
        layer.enable();
        var options = {};
        //vytvoří marker na souřadnicich v te promene var center a vloží ho do mapy
        for (i = 0; i < coords.length; i++) {
          layer.addMarker(new SMap.Marker(coords[i], "myMarker", options));	   
        }
      </script>
</br>
</br>
</br>
      <form method="GET">
          <table class="table table-hover">
              <thead>
                  <tr>
                      <th scope="col">id_skolky</th>
                      <th scope="col">id_skolky</th>
                      <th scope="col">nazev</th>
                      <th scope="col">typ postizeni</th>
                      <th scope="col">mesto</th>
                      <th scope="col">ulica</th>
                      <th scope="col">e-mail</th>
                      <th scope="col">web</th>
                      <th scope="col">kontakt</th>
                  </tr>
              </thead>
              <tbody>
                  {% for x in expectation_table %}
                  <tr>
                          <td>{{ x.id_skolky }}</td>
                          <td>{{ x.id_skolky }}</td>
                          <td>{{ x.nazev }}</td>
                          <td>{{ x.typ_postizeni }}</td>
                          <td>{{ x.mesto }}</td>
                          <td>{{ x.ulice }}</td>
                          <td>{{ x.mail }}</td> 
                          <td>{{ x.web }}</td>
                          <td>{{ x.kontakt }}</td> 
                          <td><a href="{{ url_for('skolky_detail', id=x.id_skolky) }}">Detail</a></td>
                  </tr>
                  {% endfor %}

              </tbody> 
          </table>
      </form>



  

  </body>
{% endblock %}