{% extends "layout.html" %} {% block content %}
<br />
    <header>
        <h1>
      Tabulka špecialnych školok na územi Českej republiky
    </h1>
        <form method="GET">
            <table class="table table-hover", table style="width:100%">
                <thead>
                    <tr aligin="center">
                        <th scope="col">nazev</th>
                        <th scope="col">ulice</th>
                        <th scope="col">mesto</th>
                        <th scope="col">pst</th>
                        <th scope="col">typ_postizeni</th>
                        <th scope="col">mail</th>
                        <th scope="col">web</th>
                        <th scope="col">telefon</th>
                    </tr>
                </thead>
                <tbody>
                    {% for x in expectation_table %}
                    <tr aligin="center"></tr>> 
                            <td>{{ x.nazev }}</td>
                            <td>{{ x.ulice}}</td>
                            <td>{{ x.mesto }}</td>
                            <td>{{ x.psc }}</td>
                            <td>{{ x.typ_postizeni }}</td> 
                            <td>{{ x.mail }}</td> 
                            <td>{{ x.web }}</td>
                            <td>{{ x.kontakt }}</td> 
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </form>
        <br/>
    </header>
</div>
{% endblock %}